.prefs {
	width: 550px;
    padding-right: 5px;
	font-family: 'Josefin Slab', Georgia, serif;
    font-size: 1.3em;
	line-height: 2.2;
}

.cad-pess {
	width: 550px;
    padding-right: 5px;
	font-family: 'Josefin Slab', Georgia, serif;
    font-size: 1.3em;
	line-height: 2.2;
}

.botoes {
	line-height: 4.5;
	text-align: center;
}

.pets-add {
    width: 260px;
    display: inline-block;
    padding-right: 100px;
}

.pets-add img {
    width: 260px;
    height: 195px;
    margin-bottom: 5px;
    margin-top: 8px;
}

.pets-add .auctor {
    font-weight: bold;
    color: #FF6766;
    text-align: center;
}

.pets-add .txt {
    font-size: 1em;
    text-align: center;
}

#txt_regiao {
	font-family: 'Josefin Slab', Georgia, serif;
    font-size: 0.7em;
}

.cad-pet {
	width: 700px;
    padding-right: 5px;
	font-family: 'Josefin Slab', Georgia, serif;
    font-size: 1.3em;
	line-height: 2.2;
}

.cad-pet textarea{
    width: 500px;
}